#logo1{
    margin-left: 900px;
    margin-top: -70px;
    
}
#sungrow{
    font-family: 'Righteous', cursive;
    font-size: 45px;
    padding: 7%;
}
#card-dashboard{
    margin-right: 4%;
}
#dashboard-card{
    background-image: linear-gradient(to right, #00c853, #b9f6ca);
    
}
#dashboard{
    font-family: 'Righteous', cursive;
    font-size: 25px;
}
#temAgua{
    background-image: linear-gradient(to right, #2962ff, #82b1ff);
    
}
#temAmb{
    background-image: linear-gradient(to right, #00c853, #b9f6ca);
}
#humidade{
    background-image: linear-gradient(to right, #d50000, #ff8a80);
}
#Luminosidade{
    background-image: linear-gradient(to right, #6200ea, #b388ff);
}
#titulo-card{
    font-family: 'Fredoka One', cursive;
}
#ultimoValor{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.sidebar {
    color: #FFF;
    background: #00c853;
    width: 250px;
    max-width: 250px;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 1000;
    display: block;
    -webkit-transition: margin 2s;
    transition: margin 2s;
  flex:1;
}
#navbar-toggle {
    cursor: pointer;
}
#toggleView {
    margin-left: 44px;
}
.menu-icon {
    float: right;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15%;
}
.sidebar-nav li a {
    padding-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    float: left;
    text-decoration: none;
    width: 100%;
    height: 70px;
    line-height: 25px;
    padding: 20px;
    vertical-align: center;
    font-family: 'Alfa Slab One', cursive;
}
.sidebar-nav li a:hover {
    background:#083108;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
#card1{
    margin-left: 25%;
    margin-top: -7px;
}
#card3{
    margin-left: 25%;
    margin-top: 0%;
}
#footerText{
    margin-left: 2%;
    
}
#footer{
    font-family: 'Permanent Marker', cursive;
    background-color: #00c853;
    margin-top: 590px;
}